.ui.segment:last-child {
  max-width: 400px !important;
  margin: 5rem auto !important;
}

@media screen and (max-width: 400px) {
  .ui.segment:last-child {
    max-width: 85% !important;
  }
}

.show {
  display: block !important;
}
.hide {
  display: none !important;
}

