.topHeader {
  /* background-color: #1B1C1D #808080; */
  background-color: #1B1C1D;
  padding: 20px 0px !important;
  margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
    .topHeader .button.last {
        margin-right: 0px !important;
      } 
}

.button{
  outline: none !important;
}
 
.topHeader .button {
  margin-right: 15px !important;
}
.auto {
  width: auto !important;
}
