i.icon {
  background-image: none !important;
}

.ui.label:last-child {
  background: none;
}

.parcel {
  border: 1px solid black !important;
}

.ui.grid > [class*='equal width'].row,
.ui[class*='equal width'].grid > .row {
  table-layout: fixed;
  width: inherit !important;
}

.button{
  outline: none !important;
}

.parcel-header{
  font-size: large;
  margin-top: 19px;
  padding: 5px;
  /* background-color: coral; */
  position: relative;
}

.header-right{
  position: absolute;
  right: 0px;
  width: fit-content;
  display: inline-block;
}
